
.c {
  height: 50vh;
  position: relative;
}

.c-bg {
  width: 20px;
  height: 100%;
  background-color: #686de0;
  border-radius: 0 20px 20px 0;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}
.c-left {
  flex: 1;
}
.c-right {
  flex: 1;
}

.c-title {
  font-size: 60px;
  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
}

.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.c-description {
  font-weight: 300;
}

form {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #000;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}
textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}
button {
  border: none;
  border-radius: 10px;
  padding: 12px;
  background-color: #48dbfb;
  color: #000;
  cursor: pointer;
  font-weight: 500;
  transition: all .2s;
}
button:hover {
  background-color: #5f27cd;
  color: #fff;
}




/****MEDIA QUERIES****/
@media only screen and (min-width: 1440px) and (max-width: 1800px) {
  .c {
    height: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .c {
    height: 100%;
  }

  .c-title {
    font-size: 50px;
    width: 80%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .c-wrapper {
   flex-direction: column;
  }
}